

body { font-family: Courier, monospace; }

nav {
	overflow: hidden;
	background-color: #333;
	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 { 
	font-family: 'Source Sans Pro', sans-serif;
	color: navy;
	padding: 50px 10px 5px 10px;
	font-size: 3em;
}

img.a {
            display: block;  
			width:50%;
			height:50%; 
			margin-left:auto; 
			margin-right:auto;
        }

span {
	color:cyan;
	font-weight: 420;
	font-style: italic;
}

p {
	font-family: 'Unica One', cursive;
	font-size: 1.5em;
}